<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
    <link href="/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/lib/font-awesome/css/all.min.css" rel="stylesheet" />

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="./style.css" />
    <script type="module" src="./index.js"></script>    

    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <br />
    <div class="container" style="width:100%">
        
        <div class="bg-info text-white p-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col navbar-brand">The CocktailDB Test</div>
                    <div class="col-6 text-right">
                        <a class="btn btn-outline-info border-0 " style="width:40px"
                           href="@Url.Action("Favourites", "Home")">
                            <i class="fas fa-star" style="color:orange"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row align-items-center" style="width:100%">
            <div class="col align-content-center" style="width:100%">
                @RenderBody()
            </div>
        </div>
    </div>
</body>
</html>