<br />
<br />
<br />
<div class="row">
    <div class="col">
        <h4 class="font-weight-bolder">Pruebas realizadas</h4>
    </div>

    <br />
    <br />
    <div class="row " style="padding:5px;margin:5px;width:100%">
        <div class="col border rounded bg-light align-content-center align-items-center" style="height:220px;margin:5px;width:310px;padding:5px">
            <a href="@Url.Action("Recompensas", "Home")"
               class="font-weight-light text-primary font-weight-bolder alert-link text-center"
               style="font-size:25px">
                Parte 1
            </a>
        </div>
        <div class="col border rounded bg-light align-content-center align-items-center" style="height:220px;margin:5px;width:310px;padding:5px">
            <a href="@Url.Action("RecompensasDos", "Home")"
               class="font-weight-light text-primary font-weight-bolder alert-link text-center"
               style="font-size:25px">
                Parte 2
            </a>
        </div>
    </div>







