@model RecompensasData

@{ 
    double lLat = Model.dv_latlng[1];
    double lLon = Model.dv_latlng[0];
    //double lLat = 19.308264;
    //double lLon = -99.135537;
}

<script>
    // Initialize and add the map
    function initMap() {
        // The location of Uluru
        const myLatLng = { lat: @lLat, lng: @lLon };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: myLatLng,
        });
        // The marker, positioned at Uluru
        new google.maps.Marker({
            position: myLatLng,
            map: map,
        });
    }

    window.initMap = initMap;

</script>

<div class="row">
    <div class="col">
        <h4 class="font-weight-bolder">Locación</h4>
    </div>
    

    <div class="row align-content-center " style="width:100%">
        <div class="col border rounded bg-light align-items-center" style="height:600px;margin:5px;width:80%;padding:5px">
            <div id="map"></div>
            <script async
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGRUxE5Eg6BmN3VtUfFX6Fshjxaso2L-M&callback=initMap"
                    defer>
            </script>
        </div>
    </div>
