@model IEnumerable<string>
<a class="btn btn-block btn-outline-secondary" asp-action="Index"
   asp-controller="Home" asp-route-TipoLicencia="">
    Home
</a>
@foreach (string TipoLicencia in Model)
{
    <a class="btn btn-block
        @(TipoLicencia == ViewBag.SelectedTipoLicencia
        ? "btn-primary": "btn-outline-secondary")"
       asp-action="Index" asp-controller="Home"
       asp-route-TipoLicencia="@TipoLicencia"
       asp-route-LicensePage="1">
        @TipoLicencia
    </a>
}